.m-bottom-0 {
    margin-bottom: 0;
}

/*.jumbotron .category {*/
    /*border: 1px solid dimgrey;*/
    /*border-radius: 5px;*/
    /*margin-bottom: 5px;*/
/*}*/

.jumbotron div.wrapper {
    padding-right: 10px;
    margin-top:5px;
    margin-bottom: 5px;
    border: 1px solid dimgrey;
    border-radius: 5px;
    padding-top:5px;
    padding-bottom: 5px;
    /*margin-bottom: 5px;*/
}

.jumbotron div.sub-wrapper {
    margin-left:20px;
    /*padding-right: 10px;*/
    margin-top:5px;
    margin-bottom: 5px;
}

.m-left-10 {
    margin-left: 10px;
}